# Node modules
frontend-angular/node_modules/
backend-nestJS/node_modules/

# Build output
frontend-angular/dist/
backend-nestJS/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
frontend-angular/.env
backend-nestJS/.env
.env
backend-nestJS/generated/prisma

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Angular specific
frontend-angular/.angular/
frontend-angular/coverage/

# NestJS specific
backend-nestJS/*.js
backend-nestJS/*.js.map

