# Node modules
node_modules/

# Build output
dist/
build/
tmp/
out-tsc/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Angular specific
.angular/
coverage/

# NestJS specific
*.js
*.js.map

# Others
*.log
